#footer {
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
}

#header {
  background-color: midnightblue;
  height: 115px;
  margin-bottom: 2em;
}

#header a {
  color: white;
}

.logo {
  padding: 10px 20px;
}

.logo img {
  height: 60px;
}

.bg-halftone {
  margin: auto;
  overflow: hidden;
  position: relative;
  background-image: url('../images/halftone.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.home-inner {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  height: 70vh;
  width: 80%;
}

.home-image {
  padding-bottom: 20px;
}
